# backend
/backend-flask/venv
/backend-flask/.env

# frontend
/frontend-nextjs/node_modules
/frontend-nextjs/.pnp
/frontend-nextjs/.pnp.*
/frontend-nextjs/.yarn/*
/frontend-nextjs/!.yarn/patches
/frontend-nextjs/!.yarn/plugins
/frontend-nextjs/!.yarn/releases
/frontend-nextjs/!.yarn/versions

/frontend-nextjs/# testing
/frontend-nextjs/coverage

/frontend-nextjs/# next.js
/frontend-nextjs/.next/
/frontend-nextjs/out/

/frontend-nextjs/# production
/frontend-nextjs/build

/frontend-nextjs/# misc
/frontend-nextjs/.DS_Store
/frontend-nextjs/*.pem
/frontend-nextjs/# debug
/frontend-nextjs/npm-debug.log*
/frontend-nextjs/yarn-debug.log*
/frontend-nextjs/yarn-error.log*

/frontend-nextjs/# env files (can opt-in for committing if needed)
/frontend-nextjs/.env*

/frontend-nextjs/# vercel
/frontend-nextjs/.vercel

/frontend-nextjs/# typescript
/frontend-nextjs/*.tsbuildinfo
/frontend-nextjs/next-env.d.ts
