# backend
/backend-flask/__pycache__
/backend-flask/projekAkhir-MK-PI-venv
/backend-flask/.env

# frontend
/frontend-nextjs/node_modules
/frontend-nextjs/.pnp
/frontend-nextjs/.pnp.*
/frontend-nextjs/.yarn/*
/frontend-nextjs/!.yarn/patches
/frontend-nextjs/!.yarn/plugins
/frontend-nextjs/!.yarn/releases
/frontend-nextjs/!.yarn/versions

/frontend-nextjs/coverage

/frontend-nextjs/.next/
/frontend-nextjs/out/

/frontend-nextjs/
/frontend-nextjs/build

/frontend-nextjs/.DS_Store
/frontend-nextjs/*.pem
/frontend-nextjs/npm-debug.log*
/frontend-nextjs/yarn-debug.log*
/frontend-nextjs/yarn-error.log*

/frontend-nextjs/.env*

/frontend-nextjs/.vercel

/frontend-nextjs/*.tsbuildinfo
/frontend-nextjs/next-env.d.ts
